:root {
    font-size: 48px;
}

.wrapper {
    background-color: rgb(223, 195, 160);
    height: 100vh;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table.board {
    padding: 5px;
    border: 2px solid grey;
    border-collapse: collapse;
}


td {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: auto;
    border: 1px solid grey;
    cursor: grab;
}

td:hover {
    background-color: rgb(192, 162, 125);
}